[submodule "ThirdParty/JUCE"]
	path = ThirdParty/JUCE
	url = https://github.com/WeAreROLI/JUCE.git
[submodule "ThirdParty/SparseHashMap"]
	path = ThirdParty/SparseHashMap
	url = https://github.com/greg7mdp/sparsepp.git
[submodule "ThirdParty/Catch"]
	path = ThirdParty/Catch
	url = https://github.com/catchorg/Catch2.git
